.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: start;
  padding: 10px 0;
  border-bottom: 1px dashed var(--light-gray-color);
  line-height: 1.2rem;
}

.item_label {
  display: flex;
  align-items: center;
  width: 100%;
}
.item_label > input {
  margin-right: var(--padding);
}

.item__text {
  color: var(--dark-gray-color);
}
.item__price {
  font-weight: bold;
  color: #222222;
}
.item__rate {
  font-weight: bold;
  color: var(--pink-color);
}

.item__delete {
  color: var(--gray-color);
  width: 100%;
  text-align: end;
  margin-bottom: 10px;
  padding-right: 10px;
  font-size: 1rem;
}

.item__edit,
.item__counter {
  height: 30px;
  background-color: #ececf0;
  color: var(--dark-gray-color);
  border: 1px solid var(--light-gray-color);
  border-radius: 50px;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
}
.item__edit {
  width: 60px;
  text-align: center;
  display: block;
}
.item__counter {
  width: 96px;
}

.item__count {
  text-align: center;
  outline: none;
  user-select: none;
  border: none;
  background: none;
  width: 30px;
}
.item__decrement,
.item__increment {
  color: var(--gray-color);
  padding: 0 10px;
}
.item__decrement:active,
.item__increment:active {
  color: var(--dark-gray-color);
}
