:root {
  --blue-color: #2979ff;
  --pink-color: #ff4081;
  --light-white-color: #f2f3f7;
  --white-color: #f2f2f2;
  --light-gray-color: #e1e1e4;
  --gray-color: #aaaaaa;
  --dark-gray-color: #616161;
  --padding: 16px;
  --button-border-radius: 6px;
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
}

#App {
  background-color: var(--light-white-color);
  border-radius: 40px;
  box-shadow: -2px -2px 4px 0px #ffffff, 50px 50px 50px 0px rgba(0, 0, 0, 0.25);
  height: 700px;
  width: 350px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid var(--light-gray-color); */
  padding: var(--padding);
}
.header__btn {
  color: var(--dark-gray-color);
  font-size: 1.4rem;
}
.header__title > p:nth-child(2) {
  font-size: 0.8rem;
  color: var(--gray-color);
}

.main {
  height: 100%;
  overflow: overlay;
  padding: 0 var(--padding);
}
.main__btns {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.main__btns > button {
  width: 48%;
}
.main__btns a {
  display: block;
  padding: 10px;
  background-color: var(--light-gray-color);
  border-radius: var(--button-border-radius);
  color: var(--dark-gray-color);
}
.main::-webkit-scrollbar {
  width: 1vw;
}
.main::-webkit-scrollbar-thumb {
  background-color: var(--light-gray-color);
  border-radius: 100px;
}

.footer {
  border-top: 1px solid var(--light-gray-color);
  padding: var(--padding);
}
.footer__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__text > p:nth-child(1) {
  font-size: 0.8rem;
  color: var(--gray-color);
}
.footer__text > p:nth-child(2) {
  font-size: 1.6rem;
}
.footer__btn {
  background-color: var(--blue-color);
  width: 100%;
  height: 40px;
  border-radius: var(--button-border-radius);
  color: white;
  font-weight: bold;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
}
